@font-face {
  src: url(fonts/cm-sans-serif-2012.woff);
  font-family: 'cm-sans-serif';
}

@font-face {
  src: url(fonts/cardo.woff2);
  font-family: 'cardo';
}

@font-face {
  src: url(fonts/cardo-bold.woff2);
  font-family: 'cardo-bold';
}

@font-face {
  src: url(fonts/montserrat-bold.woff2);
  font-family: 'montserrat-bold';
}

@font-face {
  src: url(fonts/montserrat-reg.woff2);
  font-family: 'montserrat-reg';
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #E4E6DB;
}

.headerDiv {
  height: 13vh;
}

#header {
  color: #585D60;
  font-family: montserrat-bold, sans-serif;
  font-weight: 800;
  font-size: 33px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.hamburgerDiv {
  height: 10vh;
  width: 100%;
  margin-bottom: 3%;
}

#hamburger {
  height: 50%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  margin: auto;
}

.menuDropdown {
  list-style: none;
  width: 90%;
  margin: auto;
  height: 25vh;
}

.mdditem {
  width: 100%;
  height: 25%;
  color: white;
  background: #F19B00;
  border: none;
  border-bottom: 2px solid white;
  font-size: 15px;
  font-family: cm-sans-serif, sans-serif;
  font-weight: 100;
}

.active {
  color: #F19B00;
  background: white;
}

#allDivs {
  background: white;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  -webkit-transform: translateY(-3.35%);
          transform: translateY(-3.35%);
  opacity: 1;
  width: 90%;
  padding-bottom: 0;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem));
}

.topDiv {
  padding-bottom: 10%;
}

.bookDiv {
  width: 100%;
  height: 50vh;
}

#book-img {
  width: 81%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  margin: auto;
}

.bestsellerList {
  width: 100%;
  height: 30vh;
}

#bestseller-list {
  width: 90%;
  margin: auto;
  list-style: none;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  margin: auto;
  color: #838689;
  font-weight: 400;
  font-family: montserrat-reg, sans-serif;
  font-size: 14px;
}

.quotes {
  width: 100%;
  font-family: cardo, sans-serif;
}

.quoteClassContent {
  width: 90%;
  margin: auto;
  position: relative;
  margin-top: 20%;
  color: #838689;
}

.ref {
  font-weight: bold;
  text-align: right;
  font-style: italic;
}

.welcome {
  background: #FDF0D9;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-bottom: -6%;
}

#welcome {
  letter-spacing: 1.7px;
}

.welcomeContent {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  color: #838689;
  font-family: montserrat-reg, sans-serif;
}

#profile {
  width: 80%;
  border: 8px solid white;
  display: block;
  margin: auto;
}

.welcomeContent h3 {
  font-weight: 100;
  font-size: 13px;
  text-align: center;
  color: #818181;
  font-family: cardo, sans-serif;
}

.welcomeContent h2 {
  font-weight: 100;
  font-size: 20px;
  margin-top: 23px;
  text-align: center;
  color: #626262;
}

.welcomeContent #welcome-paragraph {
  text-align: justify;
  font-family: cardo, sans-serif;
}

.welcomeContent .link {
  width: 100%;
  margin-top: 10%;
  font-family: cardo-bold, sans-serif;
  font-weight: 700;
}

.welcomeContent .link > p {
  color: #F19B00;
  width: 100%;
  text-align: center;
}

.welcomeContent .link > p > a {
  color: #F19B00;
  text-decoration: none;
  font-weight: 300;
}

.welcomeContent #link:hover {
  color: gray;
  -webkit-transition: 1s;
  transition: 1s;
}

.selectedWorks {
  background: #FDF0D9;
  padding-top: 40px;
  width: 100%;
  letter-spacing: 1.7px;
}

.selectedContent {
  width: 90%;
  margin: auto;
}

#selected-works {
  color: #F19B00;
  width: 90%;
  margin: auto;
  font-family: montserrat-bold, sans-serif;
  text-transform: uppercase;
}

.one, .two, .three {
  margin-bottom: 12%;
  width: 100%;
}

#quoteref {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}

#picture-book {
  width: 100%;
  font-family: montserrat-reg, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

#quoteref {
  font-size: 15px;
  margin-top: -5%;
  color: #4b4b4b;
}

#yotg {
  color: #F19B00;
  font-family: cardo, sans-serif;
  margin-top: -3%;
  font-weight: 700;
  text-transform: uppercase;
}

#quote {
  color: #838689;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: -3%;
}

#yotg a {
  color: #F19B00;
  text-decoration: none;
}

.quickLinks {
  width: 100%;
}

.quickLinks #title {
  text-transform: uppercase;
  font-family: montserrat-bold, sans-serif;
}

.quickLinks .content {
  width: 90%;
  margin: auto;
  color: #F19B00;
  padding-bottom: 50px;
  padding-top: 25px;
  font-family: cardo-bold, sans-serif;
}

hr {
  border-color: rgba(158, 158, 158, 0.179);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #header {
    font-size: 50px;
  }
  #allDivs {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
}
/*# sourceMappingURL=styles.css.map */